<a href="https://colab.research.google.com/github/fabnancyuhp/RENDUPYTHONISFSTAT/blob/master/EXO2P102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import pickle
Assurance = pd.read_pickle("insurance.pkl")
Assurance.head()

#On a un échantillon de 1338 observations et de 6 variables explicatives qualitatives et quantitatives pour permettre d'exprimer Y=charges

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

In [0]:
#On s'intéresse à la distribution des variables afin de décider si on va scaler nos données ou non, il faudra aussi qu'on compare la précision avec ou sans cette standardisation
Assurance.describe()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,30.663397,1.094918,13270.422265,0.494768,0.505232,0.795217,0.204783,0.242152,0.242900,0.272048,0.242900
std,14.049960,6.098187,1.205493,12110.011237,0.500160,0.500160,0.403694,0.403694,0.428546,0.428995,0.445181,0.428995
min,18.000000,15.960000,0.000000,1121.873900,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,27.000000,26.296250,0.000000,4740.287150,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,39.000000,30.400000,1.000000,9382.033000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,51.000000,34.693750,2.000000,16639.912515,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,64.000000,53.130000,5.000000,63770.428010,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [0]:
#On sépare les variables explicatives de la variable Y
var_expl = [o for o in Assurance.columns if o!='charges']
X = Assurance[var_expl]
Y = Assurance['charges']
X.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,0,0,1,0,0,0,1
1,18,33.770,1,0,1,1,0,0,0,1,0
2,28,33.000,3,0,1,1,0,0,0,1,0
3,33,22.705,0,0,1,1,0,0,1,0,0
4,32,28.880,0,0,1,1,0,0,1,0,0

# QUESTION 1

In [0]:
#On crée un échantillon test correspondant à 20% des observations

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.20,random_state=2003)
X_train.head()

#Le X_train contient 1070 observations et le X_test 268

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
911,18,31.73,0,0,1,0,1,1,0,0,0
396,43,34.40,3,1,0,1,0,0,0,0,1
1131,27,45.90,2,0,1,1,0,0,0,0,1
1090,47,36.19,0,0,1,0,1,0,0,1,0
662,32,31.54,1,1,0,1,0,1,0,0,0

# QUESTION 2

In [0]:
from sklearn.preprocessing import StandardScaler
scal = StandardScaler()
scal.fit(X_train)
X_train_scaled = scal.transform(X_train)
X_test_scaled = scal.transform(X_test)

#On doit scaler car les variables sont mesurées à différentes échelles
#Or cela pourrait entraîner un biais dans l'analyse

In [0]:
from sklearn.neural_network import MLPRegressor
NN1 = MLPRegressor(hidden_layer_sizes=(10,10), activation='relu',solver='lbfgs',max_iter=1000,random_state=2000)

#On entraîne notre modèle
NN1.fit(X_train_scaled,Y_train)

/srv/conda/envs/notebook/lib/python3.6/site-packages/sklearn/neural_network/_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(10, 10), learning_rate='constant',
             learning_rate_init=0.001, max_fun=15000, max_iter=1000,
             momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
             power_t=0.5, random_state=2000, shuffle=True, solver='lbfgs',
             tol=0.0001, validation_fraction=0.1, verbose=False,
             warm_start=False)

# QUESTION 3

In [0]:
#On calcule l'erreur moyenne absolue
from sklearn.metrics import mean_absolute_error, r2_score
mean_absolute_error(Y_test,NN1.predict(X_test_scaled))

17523.430348552574

In [0]:
#On calcule le score R2

print('R2 :'+str(r2_score(Y_test,NN1.predict(X_test))))
#On constate que le résultat est relativement satisfaisant

R2 :0.8543992608396195

# QUESTION 4

In [0]:
#Poids du neurone 3 de la couche cachée 1 à la couche cachée 2
NN1.coefs_[1][2]

array([ 4.23625133, 11.09321338,  6.92338083, -0.69388633, -0.45215117,
       -0.72830745, -0.96439574, -0.04904821,  8.98583416, -0.40675898])

In [0]:
#Poids du neurone 3 de la couche cachée 1 au neurone 5 de la couche cachée 2
NN1.coefs_[1][2][4]

-0.4521511669244792

In [0]:
#Biais de la couche cachée 2
NN1.intercepts_[1]

array([ -32.32077759, -183.27846569,  -94.80309823,   -5.20208113,
         -1.86528326,   -4.5692951 ,   -4.63216977,   -1.46162043,
       -136.3687462 ,   -2.95031438])

In [0]:
#Biais du neurone 3 de la couche cachée 1
NN1.intercepts_[0][2]

-24.787584071374948

# QUESTION 5

In [0]:
#Nombre de input neurons
Ni=NN1.coefs_[0].shape[0]
Ni

11

In [0]:
#Nombre de output neurons
No=NN1.coefs_[2].shape[1]
No

1

In [0]:
#Ns = number of samples in training data
Ns = X_train.shape[0]
Ns

1070

In [0]:
#α = an arbitrary scaling factor
α=5 
Nh = Ns/(α*(Ni + No))
Nh

17.833333333333332

# QUESTION 6

In [0]:
x = range(11,20)
y = range(11,20)
X,Y = np.meshgrid(x,y)

In [0]:
import itertools
xy = [x for x in itertools.product(range(11,20),repeat=2)]

In [0]:
param_grid = {'hidden_layer_sizes':xy}
NN_fold = MLPRegressor( activation='relu',solver='lbfgs',max_iter=800,random_state=2000)

from sklearn.model_selection import GridSearchCV
NN = GridSearchCV(estimator=NN_fold,param_grid=param_grid,scoring='r2',cv=5)
NN.fit(X_train_scaled,Y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=MLPRegressor(activation='relu', alpha=0.0001,
                                    batch_size='auto', beta_1=0.9, beta_2=0.999,
                                    early_stopping=False, epsilon=1e-08,
                                    hidden_layer_sizes=(100,),
                                    learning_rate='constant',
                                    learning_rate_init=0.001, max_iter=800,
                                    momentum=0.9, n_iter_no_change=10,
                                    nesterovs_momentum=True, power_t=0.5,
                                    random_stat...
             param_grid={'hidden_layer_sizes': [(11, 11), (11, 12), (11, 13),
                                                (11, 14), (11, 15), (11, 16),
                                                (11, 17), (11, 18), (11, 19),
                                                (12, 11), (12, 12), (12, 13),
                                                (12, 14), (12, 15), (12, 16),
                                                (12, 17), (12, 18), (12, 19),
                                                (13, 11), (13, 12), (13, 13),
                                                (13, 14), (13, 15), (13, 16),
                                                (13, 17), (13, 18), (13, 19),
                                                (14, 11), (14, 12), (14, 13), ...]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='r2', verbose=0)

# QUESTION 7

In [0]:
NN.best_params_

{'hidden_layer_sizes': (14, 18)}

In [0]:
NN_best = MLPRegressor(hidden_layer_sizes=(14,18), activation='relu',solver='lbfgs',max_iter=800,random_state=2000)
NN_best.fit(X_train_scaled,Y_train)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(14, 18), learning_rate='constant',
             learning_rate_init=0.001, max_iter=800, momentum=0.9,
             n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
             random_state=2000, shuffle=True, solver='lbfgs', tol=0.0001,
             validation_fraction=0.1, verbose=False, warm_start=False)

# QUESTION 8

In [0]:
NN_best.coefs_[2].shape

(18, 1)

In [0]:
#On calcule l'erreur moyenne absolue
mean_absolute_error(Y_test,NN_best.predict(X_test_scaled))

#On constate qu'elle est beaucoup moins élevée que celle calculée précédemment

2667.9612217817494

In [0]:
#On calcule le score R2

print('R2 :'+str(r2_score(Y_test,NN_best.predict(X_test_scaled))))
#On constate que le résultat est légèrement meilleur que celui du score R2 calculé initialement

R2 :0.8582116999319803